.search-input {
    border-radius: 20px;
    border: 1px solid #666;
    color: #ccc;
    padding-left: 35px;
    font-size: 0.9rem;
    height: 38px;
}

.search-input::placeholder {
    color: #999;
}

.search-icon {
    color: #999;
    font-size: 0.9rem;
}

@media screen and (max-width: 991px) {
    .search-input {
        margin: 10px 0;
        width: 100% !important;
    }

    .search-icon {
        right: 20px !important;
    }
}