#order-heading {
    background-color: #edf4f7;
    position: relative;
    border-radius: 20px 20px 0 0;
    padding-top: 20px;
    margin: 30px auto 0px
}

#order-heading .text-uppercase {
    font-size: 0.9rem;
    color: #777;
    font-weight: 600
}

#order-heading .h4 {
    font-weight: 600
}

#order-heading .h4+div p {
    font-size: 0.8rem;
    color: #777
}

.wrapper {
    padding: 0px 50px 50px;
    margin: 0px auto 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px
}

.price {
    color: #5cb99a;
    font-weight: 700
}

@media(max-width: 425px) {
    .wrapper {
        padding: 20px
    }
}