.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    min-width: 100%;
}

.img-select {
    display: flex;
    overflow-x: auto;
}

.img-item {
    margin: 0.3rem;
    position: relative;
    flex: 0 0 auto;
    width: 80px;
    padding-bottom: 80px;
    overflow: hidden;
    cursor: pointer;
}

.img-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

@media screen and (min-width: 992px) {
    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}